// Override .table width 100%
.table.table-width-zero
  width: 0

// Usually, the buttons that make up a button group only have rounded-corners if
// the button is on the end, and even then it is only the outside corners.
// Since we are using button groups to represent dice, it would be nice if all
 // corners are rounded.  We can use these classes to achieve the desired
 // effect.
.btn-group

  & > .btn.btn-dice
    &:first-child:not(:last-child):not(.dropdown-toggle),
    &:not(:first-child):not(:last-child):not(.dropdown-toggle),
    &:last-child:not(:first-child)
      border-radius: 4px

  &.btn-group-xs > .btn.btn-dice
    &:first-child:not(:last-child):not(.dropdown-toggle),
    &:not(:first-child):not(:last-child):not(.dropdown-toggle),
    &:last-child:not(:first-child)
      border-radius: 3px

  &.btn-group-lg > .btn.btn-dice
    &:first-child:not(:last-child):not(.dropdown-toggle),
    &:not(:first-child):not(:last-child):not(.dropdown-toggle),
    &:last-child:not(:first-child)
      border-radius: 6px

// Since pointer events don't bubble up from a disabled element, you can't apply
// tooltips to such elements.  A workaround is to wrap the element to apply the
// tooltip to instead.  These styles allow for the desired effect.
.tooltip-wrapper
  cursor: not-allowed

  .btn[disabled]
    pointer-events: none

// Allow changing the label of the quick help toggle button
#quick_help_toggle
  &::after
    content: " Quick Help"
  &.active::after
    content: " Disable Quick Help"
